.img {
  /* width: 100%; */
  /* height: 500px; */
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
